<!DOCTYPE html>

<html>
<head>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width" />
<title>Guitar Calc</title>
<link rel="stylesheet" href="styles/bootstrap.min.css">
<link rel="stylesheet" href="styles/bootstrap-theme.min.css">
<script src="scripts/jquery-2.1.1.min.js" onload="window.$ = window.jQuery = module.exports;"></script>
<script src="scripts/bootstrap.min.js"></script>
<script src="scripts/angular.min.js"></script>
<script src="scripts/app.js"></script>
</head>

<body ng-app="app" ng-controller="controller">

  <nav class="navbar navbar-default" role="navigation">
    <div class="container-fuild">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavBar">
          <span class="sr-only">Menu</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">GUITAR CALC</a>
      </div>
    </div>
    <div class="collapse navbar-collapse" id="myNavBar">
      <ul class="nav navbar-nav navbar-right">
        <li><a ng-click="tab = 0" data-toggle="collapse" data-target="#myNavBar">Frets</a></li>
        <li><a ng-click="tab = 1" data-toggle="collapse" data-target="#myNavBar">Saddle</a></li>
        <li><a ng-click="tab = 2" data-toggle="collapse" data-target="#myNavBar">Finger Board</a></li>
      </ul>
    </div>
  </nav>

  <div class="container">
  <div ng-show="tab == 0">
    <h3>Fret Positions</h3>
    <form ng-submit="calcFretPositions()">
      <div class="form-group">
        <label for="model">Typical Scale</label>
        <select class="form-control" id="model" ng-model="selectedModel" ng-options="m.name for m in models"
        ng-change="applyModel()">
        </select>
      </div>
      <div class="form-group">
        <label for="scale">Scale (mm)</label>
        <input type="number" min="0" class="form-control" id="scale" ng-model="scale" ng-pattern="/^[0-9]+(\.[0-9]{1,2})?$/" step="0.1"　required>
      </div>
      <div class="form-group">
        <label for="numFrets">Number of frets</label>
        <input type="number" min="0" class="form-control" id="numFrets" ng-model="numFrets">
      </div>
      <button type="submit" class="btn btn-primary">Calculate</button>
    </form>
    <br/>
    <table class="table table-striped">
      <thead>
        <tr>
          <th>#</th>
          <th>From Nut</th>
          <th>From Prev Fret</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="fret in frets">
          <td>{{ fret.fret }}</td>
          <td>{{ fret.positionFromNut | number:2 }}</td>
          <td>{{ fret.positionFromFret | number:2 }}</td>
        </tr>
      </tbody>
    </table>
  </div>

  <div ng-show="tab == 1">
    <h3>Saddle Position and Height</h3>
    <form ng-submit="calcSaddlePositionAndHeight()">
      <div class="form-group">
        <label for="model">Typical Scale</label>
        <select class="form-control" id="model" ng-model="selectedModel" ng-options="m.name for m in models"
        ng-change="applyModel()">
        </select>
      </div>
      <div class="form-group">
        <label for="scale">Scale (mm)</label>
        <input type="number" min="0" class="form-control" id="scale" ng-model="scale" ng-pattern="/^[0-9]+(\.[0-9]{1,2})?$/" step="0.1"　required>
      </div>
      <div class="form-group">
        <label for="jointPosition">Joint Position (mm)</label>
        <input type="number" min="0" class="form-control" id="jointPosition" ng-model="jointPosition" ng-pattern="/^[0-9]+(\.[0-9]{1,2})?$/" step="0.1"　required>
      </div>
      <div class="form-group">
        <label for="neckAngle">Neck Angle (deg.)</label>
        <input type="number" class="form-control" id="neckAngle" ng-model="neckAngle" ng-pattern="/^[0-9]+(\.[0-9]{1,2})?$/" step="0.1"　required>
      </div>
      <div class="form-group">
        <label for="stringHeight">String Height at 12th fret (mm)</label>
        <input type="number" min="0" class="form-control" id="stringHeight" ng-model="stringHeight" ng-pattern="/^[0-9]+(\.[0-9]{1,2})?$/" step="0.1"　required>
      </div>
      <div class="form-group">
        <label for="fretHeight">Fret Height (mm)</label>
        <input type="number" min="0" class="form-control" id="fretHeight" ng-model="fretHeight" ng-pattern="/^[0-9]+(\.[0-9]{1,2})?$/" step="0.1"　required>
      </div>
      <div class="form-group">
        <label for="fingerboardThickness">Fingerboard Thickness (mm)</label>
        <input type="number" min="0" class="form-control" id="fingerboardThickness" ng-model="fingerboardThickness" ng-pattern="/^[0-9]+(\.[0-9]{1,2})?$/" step="0.1"　required>
      </div>

      <div class="form-group">
        <label for="saddlePosition">Saddle Position (mm)</label>
        <input type="text" readonly class="form-control" id="saddlePosition" value="{{ saddlePosition | number:2 }}">
      </div>
      <div class="form-group">
        <label for="saddleHeight">Saddle Height (mm)</label>
        <input type="text" readonly class="form-control" id="saddleHeight" value="{{ saddleHeight | number:2 }}">
      </div>
      <button type="submit" class="btn btn-primary">Calculate</button>
    </form>
  </div>

  <div ng-show="tab == 2">
    <h3>Fingerboard Size</h3>
    <form ng-submit="calcFingerboardSize()">
      <div class="form-group">
        <label for="model">Typical Scale</label>
        <select class="form-control" id="model" ng-model="selectedModel" ng-options="m.name for m in models"
        ng-change="applyModel()">
        </select>
      </div>
      <div class="form-group">
        <label for="scale">Scale (mm)</label>
        <input type="number" min="0" class="form-control" id="scale" ng-model="scale" ng-pattern="/^[0-9]+(\.[0-9]{1,2})?$/" step="0.1"　required>
      </div>
      <div class="form-group">
        <label for="numberOfStrings">Number of Strings</label>
        <input type="number" min="0" class="form-control" id="numberOfStrings" ng-model="numberOfStrings" ng-pattern="/^[0-9]+(\.[0-9]{1,2})?$/" step="1"　required>
      </div>
      <div class="form-group">
        <label for="numFrets">Number of Frets</label>
        <input type="number" class="form-control" id="numFrets" ng-model="numFrets" ng-pattern="/^[0-9]+(\.[0-9]{1,2})?$/" step="1"　required>
      </div>
      <div class="form-group">
        <label for="pitchAtNut">Pitch of Strings at Nut (mm)</label>
        <input type="number" min="0" class="form-control" id="pitchAtNut" ng-model="pitchAtNut" ng-pattern="/^[0-9]+(\.[0-9]{1,2})?$/" step="0.1"　required>
      </div>
      <div class="form-group">
        <label for="pitchAtSaddle">Pitch of Strings at Saddle (mm)</label>
        <input type="number" min="0" class="form-control" id="pitchAtSaddle" ng-model="pitchAtSaddle" ng-pattern="/^[0-9]+(\.[0-9]{1,2})?$/" step="0.1"　required>
      </div>
      <div class="form-group">
        <label for="sideSpacing">Side Spacing (mm)</label>
        <input type="number" min="0" class="form-control" id="sideSpacing" ng-model="sideSpacing" ng-pattern="/^[0-9]+(\.[0-9]{1,2})?$/" step="0.1"　required>
      </div>

      <div class="form-group">
        <label for="fingerboardLength">Fingerboard Length (mm)</label>
        <input type="text" readonly class="form-control" id="fingerboardLength" value="{{ fingerboardLength | number:2 }}">
      </div>
      <div class="form-group">
        <label for="fingerboardWidthNut">Fingerboard Width at Nut (mm)</label>
        <input type="text" readonly class="form-control" id="fingerboardWidthNut" value="{{ fingerboardWidthNut | number:2 }}">
      </div>
      <div class="form-group">
        <label for="fingerboardWidthSaddle">Fingerboard Width at Heal (mm)</label>
        <input type="text" readonly class="form-control" id="fingerboardWidthSaddle" value="{{ fingerboardWidthSaddle | number:2 }}">
      </div>
      <button type="submit" class="btn btn-primary">Calculate</button>
    </form>
  </div>

</div>
</body>
</html>
